.button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
  padding: 10px 30px;
}

.button:hover {
  opacity: 50%;
}

.button__success {
  background: rgb(13, 189, 13);
  color: white;
}
.button__danger {
  background: #b00020;
  color: white;
}
.button__primary {
  color: white;
  background: #6200ee;
  font-size: 16px;
}
.button__secondary {
  color: black;
  background: #018786;
  font-size: 18px;
}
